html {
    scroll-behavior: smooth;
}

header {
    background-attachment: fixed;
}

#navbarSupportedContent ul li a {
    color: black;
    transition: all 0.5s;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

nav .navbar-brand {
    width: 50%;
    overflow: hidden;
    display: block;
}

nav .collapse ul {
    margin-right: 20%;
}

nav .collapse ul .dropdown a img {
    height: 100%;
    line-height: 10px;
}

nav .navbar-brand img {
    width: 100%;
}

nav .navbar-brand p {
    height: 100%;
    margin-top: 8%;
}

@media screen and (max-width:767px) {
    nav .navbar-brand p {
        display: none;
    }
}

#navbarSupportedContent ul li a:hover {
    color: crimson !important;
    text-decoration: underline;
}

.carousel-item {
    width: 100%;
    max-height: 900px;
    background: rgba(0, 0, 0, 0.527);
}

.carousel-item img {
    mix-blend-mode: screen;
}

.carousel-caption {
    position: absolute;
    top: 300px;
    left: 100;
}

.Branding {
    min-height: 720px;
    overflow: hidden;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(8, 8, 8, 0.815);
    color: white;
    background-attachment: fixed;
}

.Branding #myVideo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: auto;
    width: 100%;
    mix-blend-mode: screen;
    filter: blur(10px);
}

.Branding .text {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
    z-index: 1;
    margin-left: 16%;
    height: auto;
}

@media only screen and (max-width:520px) {
    .Branding .text {
        margin: auto !important;
        margin-top: 100px;
    }
    .Branding .text .blockImg {
        display: none;
    }
    .Branding #myVideo {
        display: none;
    }
    .Branding {
        background-color: #4a3f35;
    }
}

@media only screen and (max-width:767px) {
    .Branding .text {
        margin: auto !important;
        margin-top: 100px;
    }
    .Branding .text .blockImg {
        display: none;
    }
    .Branding #myVideo {
        display: none;
    }
    .Branding {
        background-color: #4a3f35;
    }
}

@media only screen and (max-width:992px) {
    .Branding .text {
        margin: auto !important;
        margin-top: 100px;
    }
    .Branding .text .blockImg {
        display: none;
    }
    .Branding #myVideo {
        display: none;
    }
    .Branding {
        background-color: #4a3f35;
    }
}

.Branding .text p {
    font-size: 100%;
}

.Branding .text .imgBox img {
    width: 190px;
    height: 190px;
    border-radius: 500px;
    display: block;
    margin: auto;
    transition: all 0.5s;
}

.Branding .text .imgBox img:hover {
    transform: rotate(360deg);
}

.sec2 {
    width: 100%;
    height: auto;
    background-color: #2f2519;
    overflow: hidden;
}

.sec2 h2 span i {
    color: #fa7d09;
}

.sec3 {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background: url('../../images/back1.jpg') no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2f2519a2;
    background-blend-mode: multiply
}

.sec3 .imgsec3 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 5px;
    overflow: hidden;
}

.sec3 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 570px;
    background: #4a3f35;
    z-index: 2;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.sec3 .text2 img {
    filter: grayscale(100%);
    transition: all 1s;
}

.sec3 .text2 img:hover {
    filter: grayscale(0%);
    transform: skew(5deg, 5deg);
}

.sec4 {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background: url('../../images/back2.jpg') no-repeat top center;
    background-attachment: scroll;
    background-size: cover;
    background-color: #2f2519a2;
    background-blend-mode: multiply
}

.sec4 .imgsec3 {
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
    height: auto;
    margin-top: 50px;
    overflow: hidden;
}

.sec4 .overlay {
    position: absolute;
    top: 58px;
    right: 0;
    height: 495px;
    background: #4a3f35;
    z-index: 2;
    overflow: hidden;
    width: 100%;
}

.sec4 .text2 {
    margin-top: 12%;
    overflow: hidden;
}

.sec4 .text2 a {
    background-color: red;
    color: white;
}

.sec4 .text2 img {
    filter: grayscale(100%);
    transition: all 1s;
}

.sec4 .text2 img:hover {
    filter: grayscale(0%);
    transform: skew(5deg, 5deg);
}

.socialIcon {
    width: 120px;
    height: auto;
    position: fixed;
    left: 0;
    top: 15%;
    z-index: 5;
    padding: 5px 0 5px 0;
    overflow: hidden;
    display: none;
}

.socialIcon a {
    width: 100%;
    height: auto;
    background: #3B5998;
    padding: 10px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    margin-right: 84px;
    transition: margin 0.5s;
}

.socialIcon a:hover {
    margin-right: 0;
}

.socialIcon a span {
    font-size: 20px;
    margin-left: 10px;
    float: right;
}

.AboutUs {
    background: #4a3f35;
    background-size: cover;
    overflow: hidden;
}

footer {
    overflow: hidden;
}

.login-container {
    overflow: hidden;
    min-height: 1350px;
    background: url() no-repeat top center;
    background-size: cover;
    margin-top: 20%;
}

.login {
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.822);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    border: none;
}

.img-container {
    background: rgb(255, 255, 255);
    width: 100px;
    border-radius: 50px;
    position: absolute;
    top: -15%;
    left: 42%;
}

.img-container img {
    width: 100%;
}

.reg-container {
    overflow: hidden;
    background-size: cover;
    min-height: 1350px;
    margin-top: 20%;
}

.reg {
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.822);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    border: none;
    position: relative;
    margin-top: 10%;
}

.img-container2 {
    background: rgb(255, 255, 255);
    width: 8%;
    border-radius: 50px;
    position: absolute;
    top: -8%;
    left: 44%;
}

.img-container2 img {
    width: 100%;
}

.category {
    margin-top: 20%;
}

.category .row ul {
    list-style: none;
    padding: 0;
    margin: 10;
}

.category .row {
    padding: 2px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.products .row {
    width: 100%;
}

.products .row>div {
    width: 350px;
    min-height: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.425);
}

.products .row > div img {
    width: 80%;
    height: 78%;
    display: block;
    margin: auto;
    transition: all 0.5s;
}

.products .row>div p {
    height: 150px;
    overflow: auto;
}

.products .row>div img:hover {
    transform: scale(1.1);
}

.addproductPage {
    margin-top: 150px;
    margin-bottom: 150px;
}

@media(max-width:767px) {
    .login .row .imgBoxLogin {
        display: none;
    }
    .chat,
    .img-container2,
    .img-container {
        display: none;
    }
}

.details {
    min-height: 820px;
}

.swiper-container {
    width: 300px;
    height: 300px;
    padding: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-pagination-bullets {
    position: absolute;
    bottom: -70px !important;
}

.ItemDetail {
    margin-top: 80px;
}

.description {
    margin-top: 70px;
}

.chat {
    width: 100px;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 200;
}

.inbox {
    width: 400px;
    height: auto;
    position: fixed;
    bottom: 75px;
    right: 15px;
    z-index: 20;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.87);
    display: none;
    overflow: hidden;
}

.inbox .chatBox {
    width: 280px;
    height: 300px;
    background: rgb(25, 54, 97);
    margin: auto;
    overflow: auto;
}

.inbox input {
    border: none;
    background: transparent !important;
    outline: none !important;
    border-bottom: 2px solid #ddd !important;
    border-radius: 0px !important;
    transition: all 0.5s;
}

.inbox input::placeholder {
    color: white;
}

.inbox button {
    color: white !important;
    margin-left: 10px;
    padding: 10px 20px;
}

.inbox input:focus {
    border-bottom: 2px solid blue !important;
}

.anchor {
    position: fixed;
    z-index: 500;
    bottom: 10%;
    left: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor i {
    color: crimson;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 10px;
}

.anchor i:hover {
    transform: scale(1.3);
}